<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>RW Inoreader API - Welcome</title>
  </head>
  <body class="mui-container-fluid">
    <h1> RW Inoreader API - Welcome </h1>
    <p> Please go to <a href={{url}}>this link</a> and authorize access. </p>

  </body>
</html>